/* layout */
body {}
#contents .container { border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; }

/* container */
.container { position: relative; width: 1200px; margin: 0 auto; }

.footerhr {  border: 0.5px solid lightgrey; }

footer { width: 80%; margin: auto; }

footer>div { font-size: 8px; }