@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,900');

/* layout */
body {}
#contents .container { border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; }

/* container */
.container { position: relative; width: 1200px; margin: 0 auto; }

footer { width: 80%; margin: auto; }