/* layout */
body { background-color: rgb(251, 185, 188); }
#contents .container { border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb; }

/* container */
.container { position: relative; width: 1200px; margin: 0 auto; }

/* header */
.image { position: relative; display: block; padding-top: 140px;  padding-bottom: 50px; width: 180px; 
    transform: translateY(30px); transition: all 2s ease-in-out;}

.title { display: block; font-size: 50px; font-weight: bold; color:white; }

.summary { display: block; font-size: 15px; color: rgb(114, 97, 98);  }

.login { margin: auto; margin-top:20px; background-color: white;
    border: 3px solid white; border-radius: 4px; width: 400px;
    height: 220px; padding-top: 20px; }

header div { margin: auto; text-align: center; }

label { display:inline-block; margin-top: 20px; margin-right: 30px; font-size: 20px; 
    width: 80px; text-align: right; }

input { padding: 5px; width: 200px; border: 2px solid rgb(251, 185, 188);
    border-radius: 4px; font-size: 15px; outline: none; }

input[type="submit"] { margin: 30px auto; margin-bottom: 7px; 
    padding: 5px; width: 200px; height: 45px; 
    border: 0px solid rgb(251, 185, 188); border-radius: 4px;
    font-size: 15px; }

.footer { transition: 0s; color : gray;  margin-top: 30px; text-align: center; }

/* mediaquery - width 320 / 480 / 600 / 768 / 960 / 1024 / 1280 */
@media (max-width: 1280px) {
    .container { width: 100%; }
    #contents .container { border: 0; }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 960px) {

}

@media (max-width: 768px) {

}

@media (max-width: 600px) {

}

@media (max-height: 700px) {
    .image { position: relative; display: block; padding-top: 60px; padding-bottom: 30px; width: 100px; 
        transform: translateY(15px); transition: all 2s ease-in-out;}
    
    .title { display: block; font-size: 30px; font-weight: bold; color:white; }
    
    .summary { display: block; font-size: 12px; color: rgb(114, 97, 98);  }
    
    .login { margin: auto; margin-top:20px; background-color: white;
        border: 3px solid white; border-radius: 4px; width: 280px;
        height: 120px; padding-top: 20px; }
    
    header div { margin: auto; text-align: center; }
    
    label { display:inline-block; margin-top: 8px; margin-right: 30px; font-size: 10px; 
        width: 40px; text-align: right; }
    
    input { padding: 2px; width: 140px; border: 2px solid rgb(251, 185, 188);
        border-radius: 4px; font-size: 10px; margin: 5px; }
    
    input[type="submit"] { margin: 10px auto; margin-bottom: 3px; 
        padding: 2px; width: 80px; height: 25px; 
        border: 0px solid rgb(251, 185, 188); border-radius: 4px;
        font-size: 8px; }

    .Signup { font-size: 7px; }
    
    .footer { transition: 0s; color : gray;  margin-top: 30px; text-align: center; }
}

/* only phone */
/* @media (max-width: 480px) {
    .image { width: 120px;}
    .login { width: 270px; height: 160px; padding-top: 10px;}
    label { font-size: 16px; margin-top: 15px;}
    input { width : 140px; font-size: 12px;}
    input[type="submit"] { width: 120px; height: 30px; font-size: 15px; 
        margin-top: 14px;}
}

@media (max-width: 320px) {
    .title { font-size: 30px;}
    .summary { font-size: 9px; }
}

@media (max-height: 1024px) {
    .image {  padding-top: 140px; }
}

@media (max-height: 670px) {
    .image {  padding-top: 100px; }
} */
