/* 湲곕낯 */
summary::-webkit-details-marker { display: none; }
summary:focus { outline: none; }

detail-menu { position: relation; }
/* �꽌釉뚮찓�돱 */
.userSub { display: block; position: absolute;
	padding: auto; 
    width: 140px; color: rgb(201,140,118); }

.userSub li { padding: 5px;
    background-color: rgb(246,242,251);
    font-size: 14px; }

.userSub li a { color: rgb(187, 165, 166); }